@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    margin-left: auto;
    margin-right: auto;
}
.message-container {
    background: white;
    overflow: hidden;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, #0000), var(--tw-shadow);
    border-radius: 25px;
    padding: 6px;
}

.inner-container {
    height: 28rem;
    width: 100%;
    div {
        height: 100%;
        padding: 0.25rem;
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
    }
}

.messages-container {
    max-width: 80rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.room {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    div .outer {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    select {
        border-style: none;
        border-radius: 0.5rem;
        option {
            float: right;
            border-radius: 0.25rem;
        }
    }
}

.input {
    position: relative;
    height: 3.5rem;
    margin-top: 0.25rem;
    border-top-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
    div {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        input {
            grid-column: span 5 / span 5;
            outline: 2px solid transparent;
            outline-offset: 2px;
            padding: 0.25rem;
            border-radius: 0.5rem;
            border-style: none;
        }
        button {
            place-self: end;
            --tw-bg-opacity: 1;
            background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
            padding: 0.5rem 1rem;
            margin: 0.25rem 0;
            border-radius: 0.5rem;
            --tw-text-opacity: 1;
            color: rgba(255, 255, 255, var(--tw-text-opacity));

            :hover {
                --tw-bg-opacity: 1;
                background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
            }
        }
    }
}

